{% extends 'base.html.twig' %}

{% block title %}L'histoire{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 page-block">
                <div class="menu-background menu-op">
                    {% include 'menu/menu.html.twig' %}
                </div>

                <img src="{{ asset('css/ico/france.png') }}" alt="France" class="row img-split q-2-l">

                <h1 class="d-2 font-title">Un peu d'histoire</h1>

                <img src="{{ asset('css/ico/travel.png') }}" alt="Travel" class="d-2">

                <p class="font-txt d-2">
                    Après l’organisation d’un voyage au Sénégal avec le<br> CE* de Logidis ( Carrefour ), le groupe de voyageurs<br> entrait en contact avec Youssoufa qui sur place,<br> allait bientôt leur proposer de visiter une école de la<br> region avec la possibilité de ramener des fournitures<br> pour aider les élèves présents.<br><br>
                    Après cette journée exceptionnelle et des cadeaux<br> donnés des deux côtés, le groupe ne souhaitait pas<br> en rester là et décidait de faire un partenariat avec le<br> CE* lui même pour aider cette école sur la durée.<br><br>
                    Mais avec le temps et des divergeances d’opinion, le<br> groupe de base s’est séparé du CE* et décida de<br> transformer l’action de ce partenariat en association.<br><br>

                    *CE : Comité d’entreprise

                </p>

                <div class="row justify-content-end">
                    <img src="{{ asset('css/ico/senegal.png') }}" alt="Senegal" class="img-split q-2-r">
                </div>

                <footer class="footer-black d-5"> Les Minots de Ndiamane &copy; 2019</footer>
            </div>

            <div class="col-sm-6 img-split p-0 history">
                <div class="menu-background">
                    {% include 'menu/menu.html.twig' %}
                </div>

                <footer class="d-10 footer"> Les Minots de Ndiamane &copy; 2019</footer>
            </div>
        </div>
    </div>
{% endblock %}