/* Down space */
.d-1 {
    margin-top: 1%;
}

.d-2 {
    margin-top: 2%;
}

.q-2-l {
    margin-left: 2%;
}

.q-2-r {
    margin-right: 2%;
}

.d-3 {
    margin-top: 5%;
}

.d-4 {
    margin-top: 7%;
}

.d-4-4 {
    margin-top: 8.1%;
}

.d-4-5 {
    margin-top: 8.3%;
}

.d-5 {
    margin-top: 10%;
}

.d-10 {
    margin-top: 99%;
}

.d-100 {
    margin-top: 100%;
}

.b-1 {
    margin-top: 4%;
}

.b-1-2 {
    margin-top: 8%;
}

.b-2 {
    margin-bottom: 10%;
}

.b-3 {
    margin-top: 17%;
}

/* text align */
p {
    text-indent: 0;
}

.page-content {
    min-width: 100vw;
    margin-left: 0;
}

.form-home {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
