/* Fond arc-en-ciel */
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

body {
    min-height: 100vh; margin: 0;
}

/* Logo */
@media (min-width: 992px) {
    .logo {
        display: none;
    }
}

/* Fond titles */
.font-txt {
    font-family: "Roboto Light", sans-serif;
    color: #6A6A6A;
    justify-content: left;
}

.txt-album {
    margin-left: 40%;
}
@media (max-width: 991px) {
    .txt-album {
        margin-left: 50%;
    }
}

.bold {
    font-weight: bold;
}

.font-title {
    font-family: "Roboto Light", sans-serif;
    color: #6A6A6A;
    font-weight: bold;
}

/* Menu */
@media (max-width: 991px) {
    .menu-large {
        display: none;
    }
}
@media (min-width: 992px) {
    .menu-smart {
        display: none;
    }
}

/* Fond login */
body#login {
    background-image: url("images/fonds/fond_login.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 100%;
    min-width: 100%;
}

/* Fond Home */
.home {
    background-image: url("images/fonds/fond_home.png");
    background-repeat:no-repeat;
    background-size:cover;
}

/* Fond history */
.history {
    background-image: url("images/fonds/fond_history.png");
    background-repeat:no-repeat;
    background-size:cover;
}

/* Fond village */
.village {
    background-image: url("images/fonds/fond_village.png");
    background-repeat:no-repeat;
    background-size:cover;
}

/* Fond agenda */
.event {
    background-image: url("images/fonds/fond_agenda.png");
    background-repeat:no-repeat;
    background-size:cover;
}

/* Fond actions */
.actions {
    background-image: url("images/fonds/fond_actions.png");
    background-repeat:no-repeat;
    background-size:cover;
}

/* Fond Album */
.album {
    background-image: url("images/fonds/fond_album.png");
    background-repeat:no-repeat;
    background-size:cover;
}

/* Fond contact */
.contact {
    background-image: url("images/fonds/fond_contact.png");
    background-repeat:no-repeat;
    background-size:cover;
}

/* fond formulaire login */
.f-login {
    background-color: white;
    border-radius: 1%;
    box-shadow: inset;
}

/* img invisible on smartphone */
@media (max-width: 991px) {
    .img-split {
        display: none;
    }
}

/* footer invisible on pc */
@media (min-width: 992px) {
    .footer-black {
        display: none;
    }
}

/* album invisible smartphone */
@media (max-width: 991px) {
    .col-al {
        display: none;
    }
}

/* album invisible on pc */
@media (min-width: 992px) {
    .col-sm-al {
        display: none;
    }
}

.page-block {
    background-color: #FFE35A;
}

.orange-color {
    color: #FFA100;
}

#timer {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 4px;
    margin-top: 5%;
}

.days, .hours, .minutes, .seconds {
    display: inline-block;
    padding: 20px;
    width: 115px;
    border-radius: 5px;
    background: white;
    color: black;
}

.numbers {
    color: black;
    font-size: 4em;
}

.buttons-link {
    background-color: #88CC7F;
    color: white;
    margin-top: 10%;
    width: 30%;
    height: 55%;
}

.btn-album {
    background-color: #88CC7F;
    color: white;
    width: 261px;
    margin-top: 1.5%;
}

.tags {
    background-color: #88CC7F;
    color: white;
}

@media (max-width: 991px) {
    .buttons-link {
        width: 100%;
        height: 100%;
    }
}

.buttons-link:hover {
    color: white;
}

.btn-album:hover {
    color: white;
}

.btn-orange {
    background-color: #FFA100;
    color: white;
}

.btn-orange:hover {
    color: white;
}

.hr, .hr::before, .hr::after {
    display:inline-block;
    vertical-align: middle;
    margin-top: 10%;
}
.hr::before, .hr::after {
    height:2px;
    width:80px;
    background: white;
    content:""
}
@media (max-width: 991px) {
    .hr {
        display: none;
    }
}
@media (min-width: 992px) {
    .no-hr {
        display: none;
    }
}

.footer {
    color: white;
}

.footer-black {
    color: black;
}

/*contact box opacity*/
.contactBox{
    position: relative;
    margin-bottom: 50px;
    margin-top: 5%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.form-border{
    border: none;
    background-color: transparent;
}

/* meteo */
.weatherwidget-io {
    width: 320px;
}

/* invisible */
.none {
    opacity: 0;
}

/* Social media */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}