{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class=row>
        <div class="col-xs-6 img-split">
            <div><img src="{{ asset('css/images/fonds/home.png') }}" alt="homePic"></div>
        </div>
        <div class="col-xs-6">
            <div>Hello</div>
        </div>
    </div>
{% endblock %}