{% extends 'base.html.twig' %}

{% block title %}Ndiamane{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-6 img-split p-0 village">
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 page-block">
                <div class="menu-sm">
                    {% include 'menu/menu.html.twig' %}
                </div>

                <h1 class="d-4 font-title">Ndiamane</h1>

                <p class="font-txt d-2">Ndiamane est un petit village de 4000 habitants environ situé au sud de Dakar à l'ouest du Sénégal dans la région de Thiès.<br>
                    On y trouve un végétation riche et de nombreux animaux ainsi que L'AFAFA,<br> qui est un centre de formation et d'expérimentation à l'agroécologie.
                </p>

                <div class="row justify-content-center d-3">
                    <a class="weatherwidget-io" href="https://forecast7.com/fr/14d31n16d85/ndiamane/" data-label_1="NDIAMANE" data-label_2="WEATHER" data-theme="original" >NDIAMANE WEATHER</a>
                </div>

                <p class="font-txt d-2">Vous trouverez plus détails dans nos albums photo ( village, école, salle d'acouchement ...)</p>

                <h4 class="font-txt d-3">Le plan ci-dessous</h4>

                <div class="row justify-content-center d-2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7732.035822363804!2d-16.856203371356877!3d14.310392105896199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec2193adfc38b15%3A0x2457d21dc2d4a572!2zTmRpYW1hbmUsIFPDqW7DqWdhbA!5e0!3m2!1sfr!2sfr!4v1570983787579!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>

                <footer class="b-1-2"> Les Minots de Ndiamane &copy; 2019</footer>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
{% endblock %}